.App {
  padding: 10vmin 0;
}

.login-form {
  padding: 2vmin 0;
}

.logout {
  float: right;
}

.card-title {
  padding: 15px 0;
}

.loader {
  margin-top: 3vmin;
  opacity: .4;
}

.alerts {
  margin: 2vmin 0;
}
